@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
}

header {
  background-color: white;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

legend {
  font-size: 1.5em;
}

.container {
  padding: 2em;
  border: 1px solid lightgray;
    background-color: white;
}

.container.form {
  min-width: 350px;
  border-radius: .2em;
}

input[type=submit]{
  margin-top: .5em;
}

input[type=text],input[type=password],input[type=email] {
  width: 100%;
}

.form-footer-message {
  margin-top: .5em;
  text-align: right;
}

.pure-form-message.error {
  color: red;
}

.messages-container {
  position:absolute;
  display: flex;
  width: 100%;
  top:0;
}

.message {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  margin: .5em;
  border-radius: .2em;
  border: 1px solid gray;
  min-height: 50px;
  padding: .5em 1em;
}

.success {
  background-color: #DDFFDD;
}

.failure {
  background-color: #FFDDDD;
}

.pure-menu {
  display: flex;
  align-items: center;
}

.pure-menu-heading {
  margin-left: auto;
}

.pure-menu-link {
  display: inline-flex;
  align-items: center;
  min-height: 3em;
}
